@layer tokens {
    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0
        }
    }
    @keyframes pulse {
        50% {
            opacity: .5
        }
    }
    @keyframes bounce {
        0%, 100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1)
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1
        }
        to {
            opacity: 0
        }
    }
    @keyframes slideInUp {
        from {
            transform: translate3d(0, 10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutUp {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(0, 10, 0)
        }
    }
    @keyframes slideInUpLeft {
        from {
            transform: translate3d(10, 10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutUpLeft {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(10, 10, 0)
        }
    }
    @keyframes slideInUpRight {
        from {
            transform: translate3d(-10, 10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutUpRight {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(-10, 10, 0)
        }
    }
    @keyframes slideInDown {
        from {
            transform: translate3d(0, -10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutDown {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(0, -10, 0)
        }
    }
    @keyframes slideInDownleft {
        from {
            transform: translate3d(10, -10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutDownleft {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(10, -10, 0)
        }
    }
    @keyframes slideInDownRight {
        from {
            transform: translate3d(-10, -10, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutDownRight {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(-10, -10, 0)
        }
    }
    @keyframes slideInLeft {
        from {
            transform: translate3d(10, 0, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutLeft {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(10, 0, 0)
        }
    }
    @keyframes slideInRight {
        from {
            transform: translate3d(-10, 0, 0)
        }
        to {
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutRight {
        from {
            transform: translate3d(0, 0, 0)
        }
        to {
            transform: translate3d(-10, 0, 0)
        }
    }
}